html {
    font-size: 62.5%;
}

:root {
    --color-white: #FFFFFF;
    --color-secondary: #2F0D0C;
    --color-primary: #CC312D;
    --colot-body: #EBEBEB;
    --color-badge: #448CF91A;
    --color-body: #606060;
    --border-radius-dashbord: 2rem;
    --border-radius-badge: 1rem;
    --border-radius-full: 100%;
    --color-border-processing-badge: #2E7AF1;
    --color-delivered-badge: #1BAC441A;
    --color-return-badge: #1717171A;
    --color-dashbord: #1717171A;
    --color-canceled-badge: #E5303F1A;
    --font-size-price: 2.4rem;
    --font-size-badge:1.2rem;
    --font-family: "vazir";
    --font-family-bold: "vazirBold";
    --font-family-regular: "vazirRegular";
    --font-family-light: "vazirLight";
    --border-primary: "1px solid #CC312D";
    --padding-primary: 1rem;
}

body {
    font-family: var(--font-family-bold);
    padding: 1rem;
}

@media screen and (mim-width:640px) {
    body {
        padding: 2rem;
    }

}

.container {
    max-width: 1180px;
    margin: auto;
}

p {
    font-size: 1.4rem;
}

.icon {
    width: 2.8rem;
}

.line {
    width: 100%;
    height: .5px;
    background-color: var(--color-return-badge);
    margin: 1rem 0 2rem 0;
}


.dashbord {
    background-color: var(--color-dashbord);
    padding: 1rem;

    border-radius: var(--border-radius-dashbord);


}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    gap: 1rem;

}


@media screen and (min-width:640px) {
    main {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        gap: 2rem;
    }
}

@media screen and (min-width:641px) and (max-width:1100px) {
    main {
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

}


.dashbord__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dashbord__header__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

/* dashbord body  */

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.dashbord__body__item {
    padding: 1rem;
    border-radius: var(--border-radius-dashbord);
    margin-bottom: 1rem;
}

.dashbord__body__item:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
    cursor: pointer;
    transition: all .3s;
    transform: scale(1.001);
}

.number {
    background-color: var(--color-primary);
    /* width: 3rem;
    height: 3rem; */
    padding: 1rem 1.3rem;
    display: inline-block;
    border-radius: var(--border-radius-full);
}

.dashbord__body__item--badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-exit {
    margin-top: 5rem;
}



/* ! orders */
.orders__feature-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;

}

/* ? media screen  */
@media screen and (min-width:640px) and (max-width:1100px) {
    .orders__feature-order {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    }
}

@media screen and (min-width:1100px) {
    .orders__feature-order {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;


    }
}



/* ! card  */
.order__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    flex: 0 0 200px;
    border: 1px solid var(--color-dashbord);
    border-radius: var(--border-radius-badge);

}

.order__item:hover {
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all .3s;
}

.order-stage {
    font-family: var(--font-family-regular);
}

.order__item__paragraph {
    line-height: 2;
}

/* feature badge */
/*? To create the initial style of the feature section icon */
.feature__badge {
    /* width: 7rem;
    height: 7rem; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-badge);
}


/* ? To style each feature section */
.badge--canseled {
    background-color: var(--color-canceled-badge);
}

.badge--return {
    background-color: var(--color-return-badge);
}

.badge--delevered {
    background-color: var(--color-delivered-badge);
}

.badge--processing {
    background-color: var(--color-badge);
}

/* ! order check history */
.orders-check{
    border: 1px solid var(--color-body);
}
.badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: var(--color-border-processing-badge);
    padding: .5rem;
    border-radius: 50px;
}
.order-check--paragraph{
    font-size: var(--font-size-badge);

}